//out: ../style.css, compress: true, sourcemap: true
@import "variables";
@import "view/home/home";

* {
    margin: 0;
    padding: 0;
}

body {
    //set 1EM equal to 14px
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    background: @color-dark;
    color: @color-light;
}
