<div id="home">
    <div class="row-fluid">
        <div class="col-md-4">
            <div class="title">Options</div>

            <div class="content">
                <div class="form-group">
                    <label for="host">File name</label>
                    <input type="text" id="host" class="form-control" ng-model="host.filename" />
                </div>

                <div class="form-group">
                    <label for="host">Host name</label>
                    <input type="text" id="host" class="form-control" ng-model="host.host" />
                </div>

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" class="form-control" ng-model="host.username" />
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" ng-model="host.password" />
                </div>

                <div class="form-group">
                    <label for="port">Port</label>
                    <input type="text" id="port" class="form-control" ng-model="host.port" />
                </div>

                <div class="form-group">
                    <button ng-click="listProcessedFiles()" class="btn btn-primary">List processed files</button>
                    <button ng-click="processFile()" class="btn btn-primary pull-right">Process file</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="title">Content</div>

            <div ng-if="selected.file == null" class="content">
                No file selected.
            </div>

            <div ng-if="selected.file != null" class="content">
                File name: {{selected.file.fileName}}<br />
                Amount of lines: {{selected.file.amtOfLines}}<br />
                Time: {{selected.file.time}}<br /><br />
            </div>
        </div>

        <div class="col-md-4">
            <div class="title">Feedback</div>

            <div class="content">
                <p ng-if="feedback.length > 0" ng-repeat="message in feedback | orderBy:'':true">
                    {{message.time}}: {{message.content}}
                </p>

                <p ng-if="feedback.length == 0">
                    No feedback given yet.
                </p>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-md-12">
            <div class="title">Processed files</div>

            <div class="content">
                <button ng-if="files.length > 0" ng-repeat="file in files | orderBy:'':true" class="btn btn-primary btn-100" ng-click="getProcessedFile(file)">{{file}}</button>

                <div ng-if="files.length == 0">
                    No processed files found.
                </div>
            </div>
        </div>
    </div>
</div>
