//main: ../../main.less
#home {
    padding: 0;
    margin: 0;

    .row-fluid {
        .col-md-4, .col-md-12 {
            padding: 0;
            border: 10px solid @color-dark * 1.3;
            height: 50vh;

            overflow-y: auto;

            .btn-100 {
                margin-bottom: 5px;
                width: 100%;
                border-radius: 0;
            }

            .title {
                width: 100%;
                font-size: 1.2em;
                padding: 10px;
                display: block;
                background: @color-primary;
                color: @color-light;
                font-family: sans-serif;
            }

            .content {
                padding: 10px;

                label {
                    font-weight: normal;
                }
            }
        }
    }
}
